/* Global styles */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f0f0f0;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}
